body {
	overflow: auto;
	height: 100%;
	width: 100%; 
	margin: 0;
	font-family: 'Veranda', 'Arial', sans-serif;
	font-size: 200%;
	background: #EBEBEB;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#C2C2C2');
	background-image: -webkit-radial-gradient(center center, circle cover, #EBEBEB 0%,#E0E0E0 50%, #C2C2C2 100%);
	background-image: -moz-radial-gradient(center center, circle cover, #EBEBEB 0%,#E0E0E0 50%, #C2C2C2 100%);
	background-image: -o-radial-gradient(center center, circle cover, #EBEBEB 0%,#E0E0E0 50%, #C2C2C2 100%);
	background-image: radial-gradient(circle, #EBEBEB 0%,#E0E0E0 50%, #C2C2C2 100%);
}

body:before {
	content: "";
	box-shadow: 0px 0px 20px rgba(0,0,0,.7);
	width: 100%;
	z-index: 999;
	height: 15px;
	position: fixed;
	top: -19px;
	left: 0;
}

#hero {
	-webkit-animation: intro ease-in-out 4s;
	-moz-animation: intro ease-in-out 4s;
	animation: intro ease-in-out 4s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	timing-function: ease-in-out;
	text-align: center;
	margin-top: 3%;
}

img {
	border: 0;
}

a {
	color: #789AAF;	text-decoration: none;
}

ul {
	text-align: center;
	-webkit-margin-before: 1.5%;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
}

li.nav {
	border-bottom: 2px solid rgba(202, 178, 178, 0);
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	timing-function: ease-in-out;
	padding: 18px 6px 6px 6px;
	display: inline;
	margin: 0 20px 0 5px;
}

li > a {
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-ms-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
	timing-function: ease-in-out;
	margin-top: 5px;
	color: #789AAF;
	font-size: 1em;
	text-decoration: none;
}

	a:hover {
		color: #A0D5D6;
		text-decoration: none;
	}
	
#buy-link {
	color: #456163;
}

	#buy-link:hover {
		color: #A0D5D6;
		text-decoration: none;
	}

@keyframes intro {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes intro {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes intro {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#divider {
	border-top: 1px #A6B2B2 solid;
	margin: 1% 20% 2% 20%;
}

@keyframes box-shadow {
	0% {box-shadow: 0 0 9px 5px rgba(168, 146, 146, 0.2);}
	100% {box-shadow: 0 0 9px 3px rgba(205, 210, 212, 0.5);}
}

@-webkit-keyframes box-shadow {
	0% {-webkit-box-shadow: 0 0 9px 5px rgba(168, 146, 146, 0.2);}
	100% {-webkit-box-shadow: 0 0 9px 3px rgba(205, 210, 212, 0.5);}
}

@-moz-@keyframes box-shadow {
	0% {-moz-box-shadow: 0 0 9px 5px rgba(168, 146, 146, 0.2);}
	100% {-moz-box-shadow: 0 0 9px 3px rgba(205, 210, 212, 0.5);}
}

#request-link {
	margin-top: 45px;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	transition: background 1s;
	timing-function: ease-in-out;
	-webkit-animation: box-shadow 1.5s infinite alternate;
	-moz-animation: box-shadow 1.5s infinite alternate;
	-o-box-shadow: 0 0 9px 3px rgba(242, 248, 250, 0.4);
	animation: box-shadow 1.5s infinite alternate;
	border: 1px solid #A6B2B2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 380px;
	background: #F0F0F0;
	padding: 18px; 
	color: #456163;
}

	#request-link:hover {
		background: #FCFCFC;
		color: #A0D5D6;
		-webkit-animation: box-shadow 1.5s 0;
		box-shadow: 0 0 9px 5px rgba(205, 210, 212, 0.4);
		-webkit-box-shadow: 0 0 9px 5px rgba(205, 210, 212, 0.4);
		-moz-box-shadow: 0 0 9px 5px rgba(205, 210, 212, 0.4);
	}
	
#request-link img {
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	timing-function: ease-in-out;
}

	#request-link img:hover {
		opacity: 0.75;
	}
	
#request-link p {
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-o-transition: color 0.5s;
	-ms-transition: color 0.5s;
	transition: color 0.5s;
	color: inherit;
	font-size: 1.1em;
	text-shadow: 1px 1px 0 white;
}

#request-link p:hover {
	color: #A0D5D6;
	text-decoration: none;
}

#copyright {
	text-shadow: 1px 1px 0 white;
	opacity: 0.25;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	timing-function: ease-in-out;
	text-align: left;
	color: #466366;
	font-size: 0.6em;
	margin: 3% 65% 2% 2%;
	vertical-align: bottom;
}

	#copyright:hover {
		opacity: 0.99;
	}
				
				
@media screen and (max-device-width: 699px) {
	li.nav {
		padding: 18px 6px 6px 6px;
		display: inline;
		margin: 0 1% 0 1%;
	}
	
	a {
		text-decoration: none;
	}
	
	li > a {
		margin: 1% auto 0 auto;
		color: #789AAF;
		font-size: 1.6em;
		text-decoration: none;
	}
	
	#divider {
		border-top: 1px #A6B2B2 solid;
		margin: 1% 10% 4% 10%;
	}

	#request-link {
		font-size: 1.5em;
		-webkit-text-size-adjust: 100%;
		text-decoration: none;
		margin-top: 45px;
		-o-box-shadow: 0 0 9px 3px rgba(242, 248, 250, 0.4);
		border: 1px solid #A6B2B2;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 460px;
	}
	
	#request-link p {
		text-decoration: none;
		text-shadow: 1px 1px 0 white;
	}
	
	#copyright {
		text-shadow: 1px 1px 0 white;
		opacity: 0.7;
		text-align: left;
		color: #466366;
		font-size: 0.9em;
		margin: 20% 0 5px 2%;
		vertical-align: bottom;
		margin-top: 0px;
	}
}